/* default settings */
/* reset browser (chrome, safari, firefox, ie, edge)
/* only for new website (remove if you are updating for other website)
@import "reset";
/* =================================================================== */
/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/*/
/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme*/
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.*/
/* ==========================================================================
 * Base styles: opinionated defaults
 * ==========================================================================*/
body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  color: #42485a;
  line-height: 2.1111111111;
  font-size: 16px;
  font-family: noto-sans-cjk-jp, sans-serif;
  font-weight: 500;
  height: -webkit-fill-available;
}
@media (max-width: 750px) {
  html {
    font-size: 2.1333333333vw;
  }
}
@media (min-width: 751px) and (max-width: 1366px) {
  html {
    font-size: 1.1713030747vw;
  }
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Vendor-prefixed and regular ::selection selectors cannot be combined:
* https://stackoverflow.com/a/16982510/7133471
*
* Customize the background color to match your design.*/
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
\::-moz-selection,
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule*/
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440*/
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
  margin: 0 auto;
  width: auto;
  max-width: 100%;
}

/*
 * Remove default fieldset styles.*/
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.*/
textarea {
  resize: vertical;
}

/* ==========================================================================
 * Author's custom styles
 * ==========================================================================*/
/* ==========================================================================
 * Helper classes
 * ==========================================================================*/
ul, li, ol, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  overflow-x: hidden;
}

/*
 * Hide visually and from screen readers*/
.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe*/
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1*/
}
.sr-only.focusable:active, .sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638*/
/*
 * Hide visually and from screen readers, but maintain layout*/
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.*/
.clearfix::before {
  content: " ";
  display: table;
}
.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

/* ==========================================================================
* EXAMPLE Media Queries for Responsive Design.
* These examples override the primary ('mobile first') styles.
* Modify as content requires.
* ==========================================================================*/
@media only screen and (min-width: 35em) { /* Style adjustments for viewports that meet the condition*/ }
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) { /* Style adjustments for high resolution devices*/ }
/* ==========================================================================
 * Print styles.
 * Inlined to avoid the additional HTTP request:
 * https://www.phpied.com/delay-loading-your-print-css/
 * ==========================================================================*/
@media print {
  * {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster*/
    box-shadow: none !important;
    text-shadow: none !important;
  }
  *::before, *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster*/
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a {
    text-decoration: underline;
  }
  a:visited {
    text-decoration: underline;
  }
  a[href]::after {
    content: " (" attr(href) ")";
  }
  abbr[title]::after {
    content: " (" attr(title) ")";
  }
  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol*/
  a[href^="#"]::after, a[href^="javascript:"]::after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables*/
  thead {
    display: table-header-group;
  }
  tr,
img {
    page-break-inside: avoid;
  }
  p,
h2,
h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
h3 {
    page-break-after: avoid;
  }
}
.text-underline {
  text-decoration: underline;
}
.text-line-through {
  text-decoration: line-through;
}
.text-no-underline {
  text-decoration: none;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-300 {
  font-weight: 300;
}
.text-400 {
  font-weight: 400;
}
.text-500 {
  font-weight: 500;
}
.text-600 {
  font-weight: 600;
}
.text-700 {
  font-weight: 700;
}

.ttl-primary {
  padding: 7.5rem 0;
  text-align: center;
}
@media (max-width: 750px) {
  .ttl-primary {
    padding: 5.375rem 0 4.5rem;
  }
}

.h4 {
  font-size: 2.25rem;
  line-height: 1.5555555556;
  font-weight: 700;
  letter-spacing: 0.1em;
}
@media (max-width: 750px) {
  .h4 {
    font-size: 3rem;
  }
}

.d-block {
  display: block !important;
}
.d-flex {
  display: flex !important;
}

@media (max-width: 750px) {
  .only-pc {
    display: none;
  }
}
@media (min-width: 751px) {
  .only-sp {
    display: none;
  }
}

a {
  transition: ease 0.4s opacity;
}
@media (min-width: 751px) {
  a:hover {
    opacity: 0.5;
  }
}

.container-big {
  margin: 0 auto;
  width: 100%;
  max-width: 1366px;
}
.container-small {
  margin: 0 auto;
  width: 100%;
  max-width: 68rem;
}
@media (max-width: 750px) {
  .container-small {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }
}

body {
  opacity: 0;
  transition: ease 0.2s opacity;
  width: 100%;
}
body.complete {
  opacity: 1;
}

.main {
  position: relative;
  z-index: 1;
}

.id {
  position: absolute;
  top: 0;
  width: 1px;
  height: 1px;
  z-index: -1;
}

.btn {
  border: none;
}
.btn:disabled {
  cursor: default !important;
}
.btn:not(:disabled) {
  cursor: pointer !important;
}

.header {
  padding-left: 1.25rem;
  width: 100%;
  height: 3.75rem;
  background-color: #fff;
  position: fixed;
  top: -6.25rem;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: top ease-in-out 0.8s;
  z-index: 99;
}
.header__logo {
  width: 5.3125rem;
  height: auto;
}
@media (max-width: 750px) {
  .header__logo {
    width: 40%;
  }
  .header__logo img {
    width: 6.5rem;
  }
}
.header__logo img {
  margin-top: -0.5rem;
}
.header__main {
  display: flex;
  align-items: center;
}
@media (max-width: 750px) {
  .header__main {
    width: 60%;
    justify-content: flex-end;
  }
}
.header__main__book {
  margin-right: 1.3125rem;
}
@media (max-width: 750px) {
  .header__main__book {
    margin-right: 2.5rem;
  }
}
.header__main__book a {
  display: flex;
  align-items: center;
  align-content: center;
  color: #1a1a1a;
  transition: opacity 0.4s ease;
}
@media (min-width: 751px) {
  .header__main__book a:hover {
    opacity: 0.5;
  }
}
.header__main__book img {
  width: 1.5625rem;
}
.header__main__book span {
  padding-left: 0.625rem;
  font-size: 0.875rem;
  letter-spacing: normal;
  color: #1a1a1a;
}
@media (max-width: 750px) {
  .header__main__book span {
    padding-left: 0;
    font-size: 1.25rem;
  }
}
.header.fixed {
  top: 0;
}

.main-menu {
  width: 17.25rem;
  position: absolute;
  top: 0;
  right: -17.25rem;
  z-index: 99;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  transition: right ease 0.4s;
  z-index: 99;
}
@media (max-width: 750px) {
  .main-menu {
    width: 23.75rem;
    right: -25rem;
  }
}
.main-menu a {
  color: #fff;
  font-size: 0.9375rem;
  font-weight: 300;
  display: block;
  width: 100%;
  position: relative;
}
@media (max-width: 750px) {
  .main-menu a {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.05em;
  }
}
.main-menu a::after {
  content: "";
  width: 73%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 2px;
}
@media (max-width: 750px) {
  .main-menu a::after {
    width: 83%;
    bottom: -0.25rem;
  }
}
.main-menu ul {
  padding: 9.9375rem 0.5rem 0.625rem 3.125rem;
}
@media (max-width: 750px) {
  .main-menu ul {
    padding: 4.5rem 0.5rem 2.75rem 3.75rem;
  }
}
.main-menu ul li {
  margin-bottom: 1.0625rem;
  width: 100%;
}
@media (max-width: 750px) {
  .main-menu ul li {
    margin-bottom: 1.25rem;
  }
}
.main-menu ul li:last-child {
  padding-bottom: 0;
}
.main-menu ul ul {
  padding: 1rem 0 0.5rem 0.875rem;
}
@media (max-width: 750px) {
  .main-menu ul ul {
    padding: 1rem 0 0.5rem 1.5rem;
  }
}
.main-menu ul ul li {
  margin-bottom: 0.5rem;
}
@media (max-width: 750px) {
  .main-menu ul ul li {
    margin-bottom: 0;
  }
}
.main-menu ul ul li a {
  border: 0;
}
.main-menu ul ul li a::after {
  content: none;
}
.main-menu.is-open {
  right: 0;
}

.btn-menu {
  padding: 0 2.5rem;
  height: 100%;
  cursor: pointer;
  font-size: 0.875rem;
  letter-spacing: normal;
  color: #1a1a1a;
  transition: opacity ease 0.3s;
}
@media (min-width: 751px) {
  .btn-menu:hover {
    opacity: 0.5;
  }
}
@media (max-width: 750px) {
  .btn-menu {
    padding: 0 1.75rem;
    font-size: 1.25rem;
  }
}

.btn-close {
  padding: 1.25rem 2.5rem;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.875rem;
  font-weight: 400;
  cursor: pointer;
  transition: opacity ease 0.3s;
}
@media (min-width: 751px) {
  .btn-close:hover {
    opacity: 0.5;
  }
}
@media (max-width: 750px) {
  .btn-close {
    padding: 0.5rem 2rem;
    font-size: 1.25rem;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 90;
}

.footer {
  padding: 5rem 0 3.125rem;
  background-color: #eaeaea;
  position: relative;
  z-index: 1;
}
@media (max-width: 750px) {
  .footer {
    padding: 3.875rem 0 3.125rem;
  }
}

.localnav-list {
  display: flex;
  justify-content: space-between;
}
.localnav-list .item {
  padding-bottom: 1.1875rem;
  width: 22.5rem;
  background-color: #fff;
  text-align: center;
}
@media (max-width: 750px) {
  .localnav-list .item {
    padding: 1rem 1.25rem 0.625rem;
    width: 14rem;
  }
}
.localnav-list .item a {
  color: #3c485a;
  font-size: 0.875rem;
  font-weight: 400;
}
@media (max-width: 750px) {
  .localnav-list .item a {
    font-size: 1.25rem;
  }
}
@media (min-width: 751px) {
  .localnav-list .item a:hover {
    opacity: 1;
  }
  .localnav-list .item a:hover .thumb {
    opacity: 0.5;
  }
  .localnav-list .item a:hover .caption:after {
    -webkit-animation: fake2 0.5s cubic-bezier(0.65, 0, 0.35, 1);
            animation: fake2 0.5s cubic-bezier(0.65, 0, 0.35, 1);
  }
}
.localnav-list .thumb {
  margin-top: 2.125rem;
  margin-bottom: 1.9375rem;
  height: 13.625rem;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  opacity: 1;
  transition: opacity 0.4s ease;
}
@media (max-width: 750px) {
  .localnav-list .thumb {
    margin-top: 0;
    margin-bottom: 0;
    height: 10.125rem;
  }
}
.localnav-list .thumb img {
  margin: 0 auto;
}
@media (max-width: 750px) {
  .localnav-list .thumb img {
    max-height: 100%;
  }
}
.localnav-list .caption {
  width: 100%;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  position: relative;
}
@media (max-width: 750px) {
  .localnav-list .caption {
    margin-top: 0.5rem;
    font-size: 1.25rem;
  }
}
.localnav-list .caption:after {
  content: "";
  width: 1.375rem;
  height: 0.5rem;
  background: url(../../img/common/arr-right3.svg) center no-repeat;
  background-size: 100% auto;
  position: absolute;
  top: 50%;
  right: 1.375rem;
  transform: translateY(-50%);
}
@media (max-width: 750px) {
  .localnav-list .caption:after {
    width: 1.5625rem;
    height: 0.625rem;
    right: -0.75rem;
    background-image: url(../../img/common/arr-right3.svg);
    top: 0.3125rem;
    transform: none;
  }
}

.localnav-note {
  width: 22.5rem;
  font-size: 0.6875rem;
  line-height: 1;
}
@media (max-width: 750px) {
  .localnav-note {
    margin-top: 1.25rem;
    width: 14rem;
    font-size: 1.25rem;
    line-height: 1.6;
    display: block;
  }
}

.copyright {
  margin-top: 5rem;
  width: 100%;
  font-size: 1.125rem;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.02em;
}
@media (max-width: 750px) {
  .copyright {
    margin-top: 2.5rem;
    font-size: 1.25rem;
  }
}

@-webkit-keyframes fake2 {
  0% {
    transform: translate(0, -50%);
  }
  50% {
    transform: translate(100%, -50%);
    opacity: 0;
  }
  51% {
    transform: translate(-100%, -50%);
    opacity: 0;
  }
  100% {
    transform: translate(0, -50%);
  }
}
@keyframes fake2 {
  0% {
    transform: translate(0, -50%);
  }
  50% {
    transform: translate(100%, -50%);
    opacity: 0;
  }
  51% {
    transform: translate(-100%, -50%);
    opacity: 0;
  }
  100% {
    transform: translate(0, -50%);
  }
}/*# sourceMappingURL=common.css.map */